In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("./datasets/pizza_delivery.csv")

In [6]:
df.isnull()

,day,date,time,operator,branch,driver,temperature,bill,pizzas,free_wine,got_wine,discount_customer
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1261,False,False,False,False,False,False,False,False,False,False,False,False
1262,False,False,False,False,False,False,False,False,False,False,False,False
1263,False,False,False,False,False,False,False,False,False,False,False,False
1264,False,False,False,False,False,False,False,False,False,False,False,False
1265,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

day                  0
date                 0
time                 0
operator             0
branch               0
driver               0
temperature          0
bill                 0
pizzas               0
free_wine            0
got_wine             0
discount_customer    0
dtype: int64

In [8]:
df = pd.read_csv("./datasets/Life Expectancy Data.csv")

In [9]:
df.isnull()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [11]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [12]:
df.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [13]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=2938, step=1)

In [15]:
df.set_index("Country", inplace=True)

In [16]:
df

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [17]:
df.index.unique().size

193

In [18]:
df.dtypes

Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [19]:
df2= df.convert_dtypes()

In [20]:
df2.dtypes

Year                                        Int64
Status                             string[python]
Life expectancy                           Float64
Adult Mortality                             Int64
infant deaths                               Int64
Alcohol                                   Float64
percentage expenditure                    Float64
Hepatitis B                                 Int64
Measles                                     Int64
 BMI                                      Float64
under-five deaths                           Int64
Polio                                       Int64
Total expenditure                         Float64
Diphtheria                                  Int64
 HIV/AIDS                                 Float64
GDP                                       Float64
Population                                Float64
 thinness  1-19 years                     Float64
 thinness 5-9 years                       Float64
Income composition of resources           Float64
Schooling                                 Float64
dtype: object

In [21]:
df.shape

(2938, 21)

In [22]:
df.ndim

2

In [32]:
df.columns = [col.strip() for col in df.columns]

## Accessing data only for a single group by using only index

In [35]:
group = df.groupby("Country")

In [36]:
group.get_group("Albania")
# if we don't have the key inside the index then keyError will be raised.

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,,,
Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,58.0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,57.2,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
Albania,2013,Developing,77.2,84.0,0,4.76,430.876979,99.0,0,56.5,...,99.0,5.66,99.0,0.1,4414.723140,289592.0,1.3,1.4,0.759,14.2
Albania,2012,Developing,76.9,86.0,0,5.14,412.443356,99.0,9,55.8,...,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2
Albania,2011,Developing,76.6,88.0,0,5.37,437.062100,99.0,28,55.1,...,99.0,5.71,99.0,0.1,4437.178680,295195.0,1.4,1.5,0.738,13.3
Albania,2010,Developing,76.2,91.0,1,5.28,41.822757,99.0,10,54.3,...,99.0,5.34,99.0,0.1,494.358832,291321.0,1.4,1.5,0.725,12.5
Albania,2009,Developing,76.1,91.0,1,5.79,348.055952,98.0,0,53.5,...,98.0,5.79,98.0,0.1,4114.136545,2927519.0,1.5,1.6,0.721,12.2
Albania,2008,Developing,75.3,1.0,1,5.61,36.622068,99.0,0,52.6,...,99.0,5.87,99.0,0.1,437.539647,2947314.0,1.6,1.6,0.713,12.0
Albania,2007,Developing,75.9,9.0,1,5.58,32.246552,98.0,22,51.7,...,99.0,6.10,98.0,0.1,363.136850,29717.0,1.6,1.7,0.703,11.6
Albania,2006,Developing,74.2,99.0,1,5.31,3.302154,98.0,68,5.8,...,97.0,5.86,97.0,0.1,35.129300,2992547.0,1.7,1.8,0.696,11.4
Albania,2005,Developing,73.5,15.0,1,5.16,26.993121,98.0,6,49.9,...,97.0,6.12,98.0,0.1,279.142931,311487.0,1.8,1.8,0.685,10.8
Albania,2004,Developing,73.0,17.0,1,4.54,221.842800,99.0,7,48.9,...,98.0,6.38,97.0,0.1,2416.588235,326939.0,1.8,1.9,0.681,10.9
Albania,2003,Developing,72.8,18.0,1,4.29,14.719289,97.0,8,47.9,...,97.0,6.27,97.0,0.1,189.681557,339616.0,1.9,2.0,0.674,10.7
Albania,2002,Developing,73.3,15.0,1,3.73,104.516916,96.0,16,46.9,...,98.0,6.30,98.0,0.1,1453.642777,3511.0,2.0,2.1,0.670,10.7
Albania,2001,Developing,73.6,14.0,1,4.25,96.205571,96.0,18,46.0,...,97.0,6.00,97.0,0.1,1326.973390,36173.0,2.1,2.1,0.662,10.6
Albania,2000,Developing,72.6,11.0,1,3.66,91.711541,96.0,662,45.0,...,97.0,6.26,97.0,0.1,1175.788981,38927.0,2.1,2.2,0.656,10.7

In [37]:
df["Life expectancy"]

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy, Length: 2938, dtype: float64

In [38]:
lfs =  (df["Life expectancy"]>55)
lfs_in = ~lfs

In [ ]:
lfs.sum()

In [ ]:
lfs_in.sum()

In [ ]:
df[lfs_in]

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [39]:
life_expectancy =  df["Life expectancy"]
life_expectancy

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy, Length: 2938, dtype: float64

In [40]:
life_expectancy.index

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan',
       'Afghanistan', 'Afghanistan',
       ...
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=2938)

In [41]:
life_expectancy.values

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [42]:
life_expectancy.to_numpy()

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [43]:
life_expectancy.to_numpy()

array([65. , 59.9, 59.9, ..., 44.8, 45.3, 46. ])

In [44]:
life_expectancy.dtype

dtype('float64')

In [45]:
life_expectancy.shape

(2938,)

In [46]:
life_expectancy.ndim

1

In [47]:
life_expectancy.size

2938

In [48]:
# df.T transpose
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,2938.0,2.007519e+03,4.613841e+00,2000.00000,2004.000000,2.008000e+03,2.012000e+03,2.015000e+03
Life expectancy,2928.0,6.922493e+01,9.523867e+00,36.30000,63.100000,7.210000e+01,7.570000e+01,8.900000e+01
Adult Mortality,2928.0,1.647964e+02,1.242921e+02,1.00000,74.000000,1.440000e+02,2.280000e+02,7.230000e+02
infant deaths,2938.0,3.030395e+01,1.179265e+02,0.00000,0.000000,3.000000e+00,2.200000e+01,1.800000e+03
Alcohol,2744.0,4.602861e+00,4.052413e+00,0.01000,0.877500,3.755000e+00,7.702500e+00,1.787000e+01
percentage expenditure,2938.0,7.382513e+02,1.987915e+03,0.00000,4.685343,6.491291e+01,4.415341e+02,1.947991e+04
Hepatitis B,2385.0,8.094046e+01,2.507002e+01,1.00000,77.000000,9.200000e+01,9.700000e+01,9.900000e+01
Measles,2938.0,2.419592e+03,1.146727e+04,0.00000,0.000000,1.700000e+01,3.602500e+02,2.121830e+05
BMI,2904.0,3.832125e+01,2.004403e+01,1.00000,19.300000,4.350000e+01,5.620000e+01,8.730000e+01
under-five deaths,2938.0,4.203574e+01,1.604455e+02,0.00000,0.000000,4.000000e+00,2.800000e+01,2.500000e+03
Polio,2919.0,8.255019e+01,2.342805e+01,3.00000,78.000000,9.300000e+01,9.700000e+01,9.900000e+01
Total expenditure,2712.0,5.938190e+00,2.498320e+00,0.37000,4.260000,5.755000e+00,7.492500e+00,1.760000e+01
Diphtheria,2919.0,8.232408e+01,2.371691e+01,2.00000,78.000000,9.300000e+01,9.700000e+01,9.900000e+01
HIV/AIDS,2938.0,1.742103e+00,5.077785e+00,0.10000,0.100000,1.000000e-01,8.000000e-01,5.060000e+01
GDP,2490.0,7.483158e+03,1.427017e+04,1.68135,463.935626,1.766948e+03,5.910806e+03,1.191727e+05
Population,2286.0,1.275338e+07,6.101210e+07,34.00000,195793.250000,1.386542e+06,7.420359e+06,1.293859e+09
thinness 1-19 years,2904.0,4.839704e+00,4.420195e+00,0.10000,1.600000,3.300000e+00,7.200000e+00,2.770000e+01
thinness 5-9 years,2904.0,4.870317e+00,4.508882e+00,0.10000,1.500000,3.300000e+00,7.200000e+00,2.860000e+01
Income composition of resources,2771.0,6.275511e-01,2.109036e-01,0.00000,0.493000,6.770000e-01,7.790000e-01,9.480000e-01
Schooling,2775.0,1.199279e+01,3.358920e+00,0.00000,10.100000,1.230000e+01,1.430000e+01,2.070000e+01

In [49]:
life_expectancy.name

'Life expectancy'

In [50]:
life_expectancy

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy, Length: 2938, dtype: float64

In [51]:
life_expectancy.rename({"Afghanistan":"Afgan"})

Country
Afgan       65.0
Afgan       59.9
Afgan       59.9
Afgan       59.5
Afgan       59.2
            ...
Zimbabwe    44.3
Zimbabwe    44.5
Zimbabwe    44.8
Zimbabwe    45.3
Zimbabwe    46.0
Name: Life expectancy, Length: 2938, dtype: float64

In [52]:
life_expectancy.memory_usage()/1024

110.4453125

In [53]:
life_expectancy.dropna()

Country
Afghanistan    65.0
Afghanistan    59.9
Afghanistan    59.9
Afghanistan    59.5
Afghanistan    59.2
               ...
Zimbabwe       44.3
Zimbabwe       44.5
Zimbabwe       44.8
Zimbabwe       45.3
Zimbabwe       46.0
Name: Life expectancy, Length: 2928, dtype: float64

In [54]:
life_expectancy.dropna().astype(np.int8).memory_usage()/1024

25.734375

In [55]:
life_expectancy.size

2938

In [56]:
life_expectancy.dropna().size

2928

In [57]:
life_expectancy.dropna().astype(np.int8)

Country
Afghanistan    65
Afghanistan    59
Afghanistan    59
Afghanistan    59
Afghanistan    59
               ..
Zimbabwe       44
Zimbabwe       44
Zimbabwe       44
Zimbabwe       45
Zimbabwe       46
Name: Life expectancy, Length: 2928, dtype: int8

In [58]:
a = (life_expectancy<40)

In [59]:
df.iat[0,0]

2015

In [62]:
df.at["Zimbabwe","Life expectancy"]

Country
Zimbabwe    67.0
Zimbabwe    59.2
Zimbabwe    58.0
Zimbabwe    56.6
Zimbabwe    54.9
Zimbabwe    52.4
Zimbabwe    50.0
Zimbabwe    48.2
Zimbabwe    46.6
Zimbabwe    45.4
Zimbabwe    44.6
Zimbabwe    44.3
Zimbabwe    44.5
Zimbabwe    44.8
Zimbabwe    45.3
Zimbabwe    46.0
Name: Life expectancy, dtype: float64

In [ ]:
df.loc["Zimbabwe"]

In [61]:
df["Status"]

Country
Afghanistan    Developing
Afghanistan    Developing
Afghanistan    Developing
Afghanistan    Developing
Afghanistan    Developing
                  ...
Zimbabwe       Developing
Zimbabwe       Developing
Zimbabwe       Developing
Zimbabwe       Developing
Zimbabwe       Developing
Name: Status, Length: 2938, dtype: object

In [ ]:
items =  df["Status"].items()

In [ ]:
next(items)

In [ ]:
df["Status"][0]

In [ ]:
df["Status"]

### Filtering

#### select only few coloumns

In [63]:
df.reset_index(inplace=True)
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [65]:
df.rename(columns={col:col.strip() for col in df.columns}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [66]:
df1 =  df[["Country", "Year","Status","Life expectancy", "Alcohol","Schooling"]]

In [67]:
df1.head()

       Country  Year      Status  Life expectancy  Alcohol  Schooling
0  Afghanistan  2015  Developing             65.0     0.01       10.1
1  Afghanistan  2014  Developing             59.9     0.01       10.0
2  Afghanistan  2013  Developing             59.9     0.01        9.9
3  Afghanistan  2012  Developing             59.5     0.01        9.8
4  Afghanistan  2011  Developing             59.2     0.01        9.5

In [68]:
df["Status"] == "Developing"

0       True
1       True
2       True
3       True
4       True
        ...
2933    True
2934    True
2935    True
2936    True
2937    True
Name: Status, Length: 2938, dtype: bool

In [69]:
(df["Status"] == "Developing").sum()

2426

In [70]:
df.shape

(2938, 22)

In [71]:
df1.drop(columns="Status", inplace=True)

C:\Users\manis\AppData\Local\Temp\ipykernel_18344\3740639791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns="Status", inplace=True)

In [72]:
df1["Year"] == 2015

0        True
1       False
2       False
3       False
4       False
        ...
2933    False
2934    False
2935    False
2936    False
2937    False
Name: Year, Length: 2938, dtype: bool

In [73]:
df["Status"].unique()

array(['Developing', 'Developed'], dtype=object)

In [74]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5